
# Ignore all files in the root directory
*.csproj
*.meta
*.unity
*.sln
/packages/
Converted/
.vscode/
ClientSimStorage/
Library/
Temp/
ProjectSettings/
Logs/
UserSettings/
# Ignore all files in the Assets directory except for the Assets/HX2xianglong90/UOLMMD directory and its contents
Assets/*
!Assets/HX2xianglong90/

Assets/HX2xianglong90/*
!Assets/HX2xianglong90/UOLMMD/

# Assets/HX2xianglong90/UOLMMD/Anim2Animator/*

# !Assets/HX2xianglong90/UOLMMD/Anim2Animator/Editor/
# !Assets/HX2xianglong90/UOLMMD/Anim2Animator/Scripts/
# !Assets/HX2xianglong90/UOLMMD/Anim2Animator/Output/

# ignore all .anim files in the Anim2Animator directory and its subdirectories
Assets/HX2xianglong90/UOLMMD/Anim2Animator/**/*.anim
Assets/HX2xianglong90/UOLMMD/Anim2Animator/**/*.txt


Assets/HX2xianglong90/UOLMMD/Public/*
!Assets/HX2xianglong90/UOLMMD/Public/Dances/


!Assets/HX2xianglong90/UOLMMD/Public/Dances/Input
Assets/HX2xianglong90/UOLMMD/Public/Dances/Input/**/*.anim
Assets/HX2xianglong90/UOLMMD/Public/Dances/Input/**/*.vmd
Assets/HX2xianglong90/UOLMMD/Public/Dances/Input/**/*.txt
Assets/HX2xianglong90/UOLMMD/Public/Dances/Input/**/*.zip


Assets/HX2xianglong90/UOLMMD/Public/**/*.anim
Assets/HX2xianglong90/UOLMMD/Public/**/*.txt
Assets/HX2xianglong90/UOLMMD/Public/**/*.mvd
Assets/HX2xianglong90/UOLMMD/Public/**/*.pmx
Assets/HX2xianglong90/UOLMMD/Public/**/*.jpg
Assets/HX2xianglong90/UOLMMD/Public/**/*.vmd
Assets/HX2xianglong90/UOLMMD/Public/**/*.zip
Assets/HX2xianglong90/UOLMMD/Public/**/*.fx
Assets/HX2xianglong90/UOLMMD/Public/**/*.x
Assets/HX2xianglong90/UOLMMD/Public/**/*.pmd
Assets/HX2xianglong90/UOLMMD/Public/**/*.png

# Ignore all .anim files in the Input directory

EssentialEnv/
SampleAnimations/
SampleCamAnimation/